#root{
  min-width: 1280px;
}
.dfac{
  display: flex;
  align-items: center;
}
.dfacjcc{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dfacjsb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#view-header{
  border-bottom: 1px solid #eee;
}

.c-view__header.sticky {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.08);
}